# Clinometer activity Pt 2

In this notebook you'll create a pandas dataframe with data from the entire class. You will practice using pandas functions and learn how to convert a CSV file to a pandas dataframe.

Start by importing pandas and numpy

In [1]:
import numpy as np
import pandas as pd

Next, let's open our data file and convert it to a pandas dataframe. 

This time our dataset is in a CSV file so we can use the pd.read_csv() function:

In [2]:
df = pd.read_csv("Class_clinometer_data.csv")

Let's take a look at the data! Use the .head() function to look at the first 5 rows of data.

In [3]:
df.head()

   Student height (m)  Building distance (m)  Clinometer angle (deg)
0              1.7200              52.500000                    29.0
1              1.7300              45.000000                    34.0
2              1.6256              45.034176                    31.5
3              1.6800              52.500000                    26.0
4              1.6002              52.500000                    33.0

Now use the .dtypes command to check the data type of the columns (note this is not a function so you don't need parentheses)

In [4]:
df.dtypes

Student height (m)        float64
Building distance (m)     float64
Clinometer angle (deg)    float64
dtype: object

The first column contains the height of everyone in the class.

Isolate this column using an index and assign it to a variable. Hint: You'll need to include the column name in the index.

In [5]:
# Create your variable and assign the "student height" column here
height = df["Student height (m)"]

Now, print out the average height using the .mean() method.

In [12]:
height.mean()

1.617733333333333

## Adding columns
To make our data useful, we need to add some more columns. Let's create a column for theta first.

Recall that theta = np.deg2rad(degrees).

In [7]:
# Create a new column called "theta" 
# Hint: You will need to use a dataframe index as the argument for the np.deg2rad() function.
df["theta"] = np.deg2rad(df["Clinometer angle (deg)"])
theta = df["theta"]

In [8]:
df.head() # Check to make sure that your new column is correct

   Student height (m)  Building distance (m)  Clinometer angle (deg)     theta
0              1.7200              52.500000                    29.0  0.506145
1              1.7300              45.000000                    34.0  0.593412
2              1.6256              45.034176                    31.5  0.549779
3              1.6800              52.500000                    26.0  0.453786
4              1.6002              52.500000                    33.0  0.575959

Next, let's add a "building height" column. 

Remember that opposite = adjacent * np.tan(theta) and that the building height is opposite + student height.

In [9]:
# Create a new column called "building height"
# Choose your dataframe indexes carefully!
opposite = df["Building distance (m)"] * np.tan(theta)
bheight = opposite + height

In [10]:
df.head() # Check to make sure that your new column is correct

   Student height (m)  Building distance (m)  Clinometer angle (deg)     theta
0              1.7200              52.500000                    29.0  0.506145
1              1.7300              45.000000                    34.0  0.593412
2              1.6256              45.034176                    31.5  0.549779
3              1.6800              52.500000                    26.0  0.453786
4              1.6002              52.500000                    33.0  0.575959

Now, let's find the average building height for the entire class

In [11]:
# Hint: Use the .mean() method
bheight.mean()

32.43543247045108