# Make your own Space Shuttle data visualization!

In this notebook you'll practice using pandas to read in a CSV file and create a dataframe. You'll also use matplotlib to make any visualization you'd like to help explain the relationship between temperature and space shuttle incidents.

**Reminder: To run the code in a Jupyter Notebook cell, click inside the cell and press "shift" and "return" on your keyboard at the same time.**

First, we need to import pandas and matplotlib.pyplot:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Next, we're going to create a data frame. Remember: we usually assign the dataframe to a variable called df. 

Use the pd.read_csv() function to open up the Challenger data file.

In [2]:
df = pd.read_csv("Challenger_data.csv")

Look at the first 5 lines of your data frame by using the .head() method:

In [3]:
df.head()

,Flight,Date,Temperature (F),Erosion incidents,Blow-by incidents,Total incidents
0,51-C,1.24.85,53,3.0,2.0,5
1,41-B,2.03.84,57,1.0,NaN,1
2,61-C,1.12.86,58,1.0,NaN,1
3,41-C,4.06.84,63,1.0,NaN,1
4,1,4.12.81,66,NaN,NaN,0

Decide which columns you will need to use for your visualization and then assign those columns to their own variables.

Remember, column names are strings!

In [4]:
temp = df["Temperature (F)"]
incidents = df["Total incidents"]

Print out the summary of each column using the .head() method to make sure that you have isolated the correct data:

In [8]:
temp.head()

0    5
1    1
2    1
3    1
4    0
Name: Total incidents, dtype: int64

Now that you've isolated the columns, you can put them into a matplotlib graph of your choice:

In [1]:
# Note: if you are copying and pasting code from a previous notebook,
# think carefully about whether or not you need each line.
plt.scatter(temp, incidents)
plt.legend()
plt.title("Incidents in relation to ")
plt.xlabel("Distance from epicenter (km)")
plt.ylabel("Travel time (s)")
plt.show()

NameError: name 'plt' is not defined