In [1]:
import pandas as pd

Make a dataframe

In [2]:
ratBrain = pd.read_csv("Animal_brains.csv")

In [3]:
ratBrain.head()

              Animal  Olfactory bulbs  Cerebrum  Optic lobes  Cerebellum
0              Human               11       123            0        97.0
1                Rat               18        61           30        60.4
2  Alligator (adult)                9        17           10         7.0
3   Alligator (baby)                5        15           10         NaN
4              Eagle                6        40           25         9.0

Create a new column that adds all the values of the rows

In [4]:
ratBrain["Total Width"] = ratBrain["Olfactory bulbs"] + ratBrain["Cerebrum"] + ratBrain["Optic lobes"] + ratBrain["Cerebellum"]
ratBrain.head()

,Animal,Olfactory bulbs,Cerebrum,Optic lobes,Cerebellum,Total Width
0,Human,11,123,0,97.0,231.0
1,Rat,18,61,30,60.4,169.4
2,Alligator (adult),9,17,10,7.0,43.0
3,Alligator (baby),5,15,10,NaN,NaN
4,Eagle,6,40,25,9.0,80.0

Write function: 
    
    input: brain region, animal type
    
    output: ratio of width of that region/total width

In [5]:
def ratio(brainRegion, animal):
    width = ratBrain[brainRegion].loc[ratBrain["Animal"] == animal]
    total = ratBrain["Total Width"].loc[ratBrain["Animal"] == animal]
    ratio = print(width/total)
    
    return ratio

Call function cerebrum for each animal type

In [6]:
ratio("Cerebrum", "Human")

0    0.532468
dtype: float64

In [7]:
ratio("Cerebrum", "Rat")

1    0.360094
dtype: float64

In [8]:
ratio("Cerebrum", "Alligator (adult)")

2    0.395349
dtype: float64

In [9]:
ratio("Cerebrum", "Alligator (baby)")

3   NaN
dtype: float64

In [10]:
ratio("Cerebrum", "Eagle")

4    0.5
dtype: float64