# Coding with our Planet Earth data

Let's use Python to input and analyze the data we collected in the Hall of Planet Earth.

**Reminder: To run the code in a Jupyter Notebook cell, click inside the cell and press "shift" and "return" on your keyboard at the same time.**

## Working with Numbers

Assign the percent of each ore that contains the mineral to each variable below:

In [1]:
# Note: You do not need to include the % sign. 
chromium = 25
vanadium = 2
platinum = 0.0008

Now print out each of these variables:

In [2]:
print(chromium)
print(vanadium)
print(platinum)

25
2
0.0008

Next, assign the percent of vanadium ore that **does not** contain the mineral to a new variable and then print it out:

In [4]:
# Hint: You will need to use subtraction
not_vanadium = 100 - vanadium
print(not_vanadium)

98

Now convert the value you calculated above into a decimal and print the result:

In [6]:
# Hint: You will need to use division
dec_not_vanadium = not_vanadium/100
print(dec_not_vanadium)

0.98

Can you identify which of the values you worked with above are integers and which are floats?

## Working with Strings

Assign the name of each type of lava to a variable below:

In [8]:
# Hint: Remember that strings need to be in quotes!
type1 = "AA"
type2 = "Pahoehoe"

Now print out each of these variables:

In [9]:
print(type1)
print(type2)

AA
Pahoehoe

You can add strings together to make one long print statement, even if some of those strings are stored in variables. 

Assign your name as a string to the name variable below and then run the cell below to see how it works:

In [10]:
name = "Gabrielle"
print("Hello " + name + ". You are cool!")

Hello Gabrielle. You are cool!

Now try printing out a sentence that tells the reader what the two types of lava are:

In [12]:
print("The two types of lava are " + type1 + " and " + type2)

The two types of lava are AA and Pahoehoe

## Mix 'n Match Data Types

Create a variable for each piece of data related to the deformed rocks from Wingdale, NY and decide whether the value should be a string, a float, or an integer:
- Where the rock was found
- Type of rock
- Rock age
- Temperature at which the rock formed
- Depth at which the rock formed

In [19]:
rock_loc = "Wingdale, NY"
rock_type = "Schist"
rock_age_mya = 440
rock_temp_C = 550
rock_depth_km = 8 # in kilometers

Print out a sentence that explains where the rocks were found and what kind of rock they are:

Print out the difference between the deformed rock's temperature at formation and the boiling point of water (100 degrees Celsius):

In [20]:
print(rock_temp_C - 100)

450

Create two new variables that contain the age and length of the San Andreas Fault:

Print out the difference in age between the deformed rocks and the San Andreas Fault:

How much longer is the San Andreas Fault than the depth of the deformed rock's formation? Print out the difference:

## Bonus Challenge 1
If you finish everything above, try this bonus challenge

Create three new variables with information from your data collection sheet and experiment with adding, subtracting, and printing these variables:

In [ ]:
# Hint: Think about which data types can be added together

## Bonus Challenge 2
If you finish everything above, try this bonus challenge

Run the code below to learn about the type() function:

In [ ]:
var1 = 5
var2 = "Hello"
var3 = 3.2

#The type() function tells you the data type of a value
print(type(var1))
print(type(var2))
print(type(var3))

Now try it yourself! print out the type of some variables you've created above:

You can also change the type of some values stored in variables using the following functions:
- str() turns a value into a string
- int() turns a value into an integer
- float() turns a value into a float

Run the code below to learn more:

In [ ]:
varA = "1"
varB = 1.0
varC = 1

print(int(varA))
print(str(varB))
print(float(varC))

Not all values can be turned into all types. Try running the code below:

In [ ]:
print(int("Hello world!"))

Now try it yourself! Create your own variables and try changing their types: